body {
    margin: 0;
    padding: 0;
}
img {
    height:150px;
}

.grid {
    height: 190px;
    display: grid;
    grid-template-columns: 1fr 5fr 0.5fr 2fr 1fr;
    grid-template-areas: "a b c d e";
    border: 1px solid black;
}


.a { grid-area: a;}

.b { grid-area: b; }

.c { grid-area: c; }

.d { grid-area: d; }
.e {
    grid-area: e;
}
.a, .b, .c, .d, .e   {
    display:flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
}